@import url(./test.css);
@import url(./popup.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background: #fff;

}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: 75px;
    border-bottom: #00000050 solid 1px;
}

.first span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-right: 25px;
    width: 65px;
    height: 65px;
    color: #fff;
    background-color: #0070c0;
    border-radius: 15px;
}

.main_window{
    height: 100vh;
}

.black_header{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    color: white;
    background-color: black;
}

.black_header a{
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 2px;
    border-radius: 35px;
    width: 300px;
    margin-left: 25px;
    transition: all 0.3s;
}

.black_header a:hover{
    transition: all 0.3s;
    background-color: white;
    color: black;
}

.content{
    margin-right: 25px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    height: 84%;
}

.answer_buttons{
    display: flex;
    flex-direction: column;
}

.content h2{
    font-size: 35px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: 500;
}

.questions h2{
    font-weight: 700;
    color: rgb(255, 114, 118);
}

.questions h2 span{
    font-weight: 900;
    color: rgb(255, 114, 118);
}

.content h2 span{
    color: #000;
    font-size: 40px;

    margin-right: 15px;
}

.first_row{
    width: 50%;
}

.answer_buttons{
    margin: 25px;
    height: 55%;
}

.ans_btn{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-right: 50px;
    min-width: 900px;
    min-height: 90px;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    text-align: start;
    background-color: #fff;
    border: solid 1px #000;
    cursor: pointer;
}

.ans_btn:hover{
    background-color: #f5f5f5;
}

.ans_btn:active{
    border: solid 1px #707070;
    background-color: #b8d8ff;
}

.ans_btn span{
    display: flex;
    align-items: center;
    font-weight: 800;
    height: 80px;
    color: rgb(255, 114, 118);
    margin-right: 50px;
    padding-left: 25px;
    padding-right: 35px;
    font-size: 50px;
    border-right: solid 1px black;
}

.main_buttons_part{
    display: flex;
    flex-direction: row;
    height: 25%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 15px;
}

.next_button{
    display: flex;
    padding: 10px;
}

#nxt_btn_1{
    margin-right: 25px;
}

#nxt_btn_1 .material-symbols-outlined{
    transform: rotate(180deg);
}

#nxt_btn_2{
    align-items: center;
}

.next_button button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    background-color: #0070c0;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    border: 0;
    transition: all 0.3s;
}

.next_button button:active{
    background-color: #5dabe2;
}

.disabled_button{
    display: none;
}

ul li div{
    display: flex;
    align-items: center;
    background-color: rgb(245, 248, 255);
    border: solid 1px #00000080;
    width: 1000px;
    margin: 15px;
    height: 100px;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

@media(max-width: 1180px){
    .answers_btn{
        height: 1000px;
        flex-direction: column;
    }
    .step_marker_and_buttons{
        padding-bottom: 35px;
    }
}

.answers_btn img{
    margin-right: 100px;
}